{% extends "base.html" %}

{% block content %}
<div style="display: flex; justify-content: space-around; margin-top: 30px;">
    <div>
        {% load static %}
        <img src="{% static "D:/Phitron/SDT/Django/Task_Management_System/static/image1.jpg" %}" style="margin: 10px; border: solid 2px black; box-shadow: 0px 0px 5px black; width: 550px;">
    </div>
    <div style="text-align: center; margin-top: 130px;">
        <h2>Suffering From Managing Task!</h2>
        <h6 style="width: 55%; margin: auto; margin-top: 20px;">Then, Welcome To My Website. Here you will be able to Manage Your Task Sufficiently.</h6>
    </div>
</div>
{% endblock %}